---
layout: markdown_page
title: Use cases
extra_css:
  - "maturity.css"
extra_js:
  - "libs/moment.min.js"
  - "maturity.js"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Use cases represent different types of projects that people and companies create
and manage on GitLab. Gitlab delivers and replaces the disparate DevOps
toolchain for both static content and traditional web applications. These are
two examples of use cases. We're actively investing in more robust support for
new use cases such as cloud native and mobile apps, but we aren't done there.
GitLab will expand to enable collaboration on new use cases.

Much like our [product categories](/direction/maturity/), not
all use cases are at the same level of maturity, which spans from being planned,
to minimal, and ultimately to lovable. See [below](#use-case-maturity) for where
each use case currently stands and when they will reach higher maturity levels.

## Use cases

<% data.use_cases.each do |usecaseKey, usecase| %>
  <% l = [] %>
  <% l << "Product lead: [#{usecase.pm}]" if usecase.pm %>
  <% l << "[Learn more](#{usecase.marketing_page})" if usecase.marketing_page %>
  <% l << "[Documentation](#{usecase.documentation})" if usecase.documentation %>
  <% l << "[Vision](#{usecase.vision})" if usecase.vision %>
##### <%= usecase.name %>
<% maturity = "This use case is planned, but not yet available." %>
<% if usecase.available != nil %>
  <% maturity = "This use case is at the \"minimal\" level of maturity." if usecase.available.past? %>
<% end %>
<% if usecase.viable != nil %>
  <% maturity = "This use case is at the \"viable\" level of maturity." if usecase.viable.past? %>
<% end %>
<% if usecase.complete != nil %>
  <% maturity = "This use case is at the \"complete\" level of maturity." if usecase.complete.past? %>
<% end %>
<% if usecase.lovable != nil %>
  <% maturity = "This use case is at the \"lovable\" level of maturity." if usecase.lovable.past? %>
<% end %>
<%= usecase.description + " " + maturity + "  " unless usecase.description.blank? %>
<%= maturity + "  " if usecase.description.blank? %>
<%= l.join(' • ') unless l.empty? %>

<% end %>

## Use case maturity

### Legend

<%= partial "includes/product/maturity_legend" %>

<%= partial "use_case_maturity_table" %>

## Changes

Changes to use case maturity are effected in the
[use_cases.yml](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/use_cases.yml)
file. Changes that impact our stated maturity goals should be approved by the VP
of Product.

[Mark Pundsack]: /company/team/#MarkPundsack
[Kenny Johnston]: /company/team/#kencjohnston
[Kenny Johnston (Interim)]: /company/team/#kencjohnston
[Kenny Johnston (Life Support)]: /handbook/product/#life-support-pm-expectations
[Eric Brinkman]: /company/team/#ericbrinkman
[Eric Brinkman (Interim)]: /company/team/#ericbrinkman
[Jeremy Watson]: /company/team/#d3arWatson
[Joshua Lambert]: /company/team/#joshlambert
[Joshua Lambert (Interim)]: : /company/team/#joshlambert
[James Ramsay]: /company/team/#jamesramsay
[Daniel Gruesso]: /company/team/#danielgruesso
[Daniel Gruesso (Interim)]: /company/team/#danielgruesso
[Jason Lenny]: /company/team/#j4lenn
[Jason Lenny (Interim)]: /company/team/#j4lenn
[Brendan O'Leary]: /company/team/#olearycrew
[Brendan O'Leary (Interim)]: /company/team/#olearycrew
[Luca Williams]: /company/team/#tipyn2903
[Tim Rizzi]: /company/team/#timrizzi
[Sarah Waldner]: /company/#sarahwaldner
[Kai Armstrong]: /company/#kai-armstrong
