%table.table
  %thead.header-fixed
    %tr
      %th
        Use case
      %th.text-center
        Today
      %th.text-center
        Q1
      %th.text-center
        Q2
      %th.text-center
        Q3
      %th.text-center
        Q4
  %tbody
    %tr
      %td
        %i Date
      %td.text-center
        %i 
          %span#today
      %td.text-center
        %i 2019-04-30
      %td.text-center
        %i 2019-07-31
      %td.text-center
        %i 2019-10-31
      %td.text-center
        %i 2020-01-31
    - data.use_cases.each do |caseKey, usecase|
      %tr
        %td
          - if usecase.vision 
            %a{href: "#{usecase.vision}"} #{usecase.name}
          - else
            = usecase.name
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(usecase, Date.today)}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(usecase, Date.new(2019,04,30))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(usecase, Date.new(2019,07,31))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(usecase, Date.new(2019,10,31))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(usecase, Date.new(2020,01,31))}.svg"