<% career_matrix = Gitlab::Homepage::CareerMatrix.engineering_ic %>

<div class="table-responsive" style="max-height:800px">
  <div class="table-responsive">
    <table class="table-bordered">
      <thead>
      <tr>
        <td class="top-sticky" style="left: 0; z-index:1000"></td>
        <% career_matrix.levels.each do |level| %>
          <th class="top-sticky"><%= level %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% career_matrix.categories.each do |category| %>
          <% career_matrix.behaviours_for(category).each do |behaviour| %>
            <tr>
              <th class="left-sticky"><%= "#{category}: #{behaviour}" %></th>
              <% career_matrix.levels.each do |level| %>
                <td>
                  <ul>
                    <% career_matrix.descriptions_for(level, category, behaviour).each do |description| %>
                      <li><%= kramdown(description) %></li>
                    <% end %>
                  </ul>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
